.locations,
.amenities {
  height: 100%;
  width: 25%;
  border-right: 1px solid #DDDDDD;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.locations {
  border-right: none;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

